@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
/* Style inputs with type="text", select elements and textareas */
label { display: inline-block; width: 100px; }
input[type=text],input[type=email], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
    background-color: #1B1925;
    color: white;
    padding: 14px 22px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #646177;
}

.fcontainer {
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    padding: 20px;

}
.formfield * {
  vertical-align: middle;
}
