
*,
*::before,
*::after {
  position: relative;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#out{
  width:100%;
}
#servicebody {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  width: 98%;
  height: auto;
  overflow: hidden;
  background-color: #ffffea;
}

.service-section-set {
  position: relative;
  width: 80%;
  margin:1% 10%;
  height: auto;
}
.service-section-content {
  width: 100%;
  height: auto;
  margin-top:2%;
}

.service-section-frame {
  position: relative;
  top: 0%;
  left: 0%;
  
  width: 100%;
  height: 100%;
padding: 0% 3%;
  
 /* -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  display: block;
  opacity: 1;*/
  
  
}


./*service-back-to-start {
  -webkit-animation: fade 0.5s ease-in-out forwards;
    -webkit-animation-delay: 3s;
    -moz-animation: fade 0.5s ease-in-out forwards;
    -moz-animation-delay: 3s;
    -o-animation: fade 0.5s ease-in-out forwards;
    -o-animation-delay: 3s;
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 3s;
  position: fixed;
  z-index: 2;
  top: 25px;
  right: 40px;
  padding: 10px;
  font-weight: 300;
    font-size: 14px;
    letter-spacing: -1.0px;
    background-color: #fdfafa;
    color: #0e0e0e;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    text-align: center;
  
  
  border: black 1.5px solid;
  outline: 0;
  border-radius: 3px;
  
  
  cursor: pointer;
}
.service-back-to-start:hover {
background-color: #5FAD56;
    color: white;
    letter-spacing: 0px;
    border: black 1.5px dashed;
    } 
.service-back-to-start:active {
  top: 27px;
  box-shadow: 0 2px 10px -1px rgba(89, 89, 89, 0.65);
}*/
.service-responsive-img
{
  display: block; 
  margin-left: auto; 
  margin-right: auto;  
}
.hred {
  font: normal normal 300 36px/2 "Roboto", serif;
  font-weight: 300;
}
.pred {
  width: 100%;
  font: normal normal 400 16px/1.5 "Roboto", sans-serif;
}
