
@import url('https://fonts.googleapis.com/css?family=Arvo');

	@media screen and (min-width: 208px)
      {
    .home_s
	{
	    background-color: #FFFFEA;
	    font-family: 'Arvo', serif;
		max-width:100%; 
        height: 500px;
        max-height: 100%;
        margin: 0px 0px 5px 0px;
	}
	#home_p
	{
		max-width: 98%;
		background-color: #FFFFEA;
		height: 66.88%;
		margin: 1% 1% 1% 1%;
	}
	b{
		color:green;
	}
	.p_save
	{ 
        max-width: 98%;
	    height: 25.12%;
		margin: 0 1% 0 1%;

	}
	.p_change
	{
        max-width: 98%;
		height: 3%;
		margin: 1% 1% 1% 1%;
	}
    #p_image
	{
		width:48%;
		float: left;
		margin: 0.5%;
		height: 88%;

	}
	#p_content
	{
		background-color: #FFFFEA;
		font-size: 12px;
		color: black;
		margin: 0.3%;
		width: 48%;
		float: right;
	    height: 88%;
	    
	}
	.listed_a 
	{
		padding:3px -1px 0px 50px;
		letter-spacing:0.5px;
		list-style-type:disc;
	}
	.listed_a li{
		padding-bottom: 10px;
		opacity: 0;
	}
	li.a01 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 0.5s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 0.5s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 0.5s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
	padding-bottom: 5%;
}

li.a02 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 1s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 1s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 1s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 1s;
	padding-bottom: 5%;
}

li.a03 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 1.5s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 1.5s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 1.5s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 1.5s;
	padding-bottom: 5%;
}

li.a04 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 2s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 2s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 2s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 2s;
	padding-bottom: 5%;
}

li.a05 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 2.5s;
	-moz-animation: fade 0.5ss ease-in-out forwards;
	-moz-animation-delay: 2.5s;
	-o-animation: fade 0.5ss ease-in-out forwards;
	-o-animation-delay: 2.5s;
	animation: fade 0.5ss ease-in-out forwards;
	animation-delay: 2.5s;
	padding-bottom: 5%;
}
li.a06 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 3s;
	-moz-animation: fade 0.5ss ease-in-out forwards;
	-moz-animation-delay: 3s;
	-o-animation: fade 0.5ss ease-in-out forwards;
	-o-animation-delay: 3s;
	animation: fade 0.5ss ease-in-out forwards;
	animation-delay: 3s;
}
@-webkit-keyframes fade {
	100% { opacity: 1; }
}

@-moz-keyframes fade {
	100% { opacity: 1; }
}

@-o-keyframes fade {
	100% { opacity: 1; }
}

@keyframes fade {
	100% { opacity: 1; }
}

@-webkit-keyframes ifade {
	100% { opacity: 1;margin-left: 6%; }
}

@-moz-keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

@-o-keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

@keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

.order-b{
	-webkit-animation: fade 0.5s ease-in-out forwards;
    -webkit-animation-delay: 3s;
    -moz-animation: fade 0.5s ease-in-out forwards;
    -moz-animation-delay: 3s;
    -o-animation: fade 0.5s ease-in-out forwards;
    -o-animation-delay: 3s;
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
    padding: 12px;
    outline: 0;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -1.0px;
    background-color: #fdfafa;
    color: #0e0e0e;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    text-align: center;
    margin-top: 12%;
    border: black 1.5px solid;

}
.order-b:hover{
	background-color: #5FAD56;
    color: white;
    letter-spacing: 0px;
    border: black 1.5px dashed; 
}
#c-butna{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnb{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnc{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnd{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butne{
    width:10px;
    height:15px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butna,#c-butnb,#c-butnc,#c-butnd,#c-butne{
	outline:0;
}
.imgp{
	-webkit-animation: ifade 2.5s ease-in-out forwards;
	-webkit-animation-delay: 0s;
	-moz-animation: ifade 2.5s ease-in-out forwards;
	-moz-animation-delay: 0s;
	-o-animation: ifade 2.5s ease-in-out forwards;
	-o-animation-delay: 0s;
	animation: ifade 2.5s ease-in-out forwards;
	animation-delay: 0s;
	opacity: 0;
	margin-top: 20%;
		width: 400px;
		max-width: 100%;
}
.phead
{
	color:#00b33c;
	font-size: 3.95vw;
	letter-spacing:2px;
}
}
	
	@media screen and (min-width: 708px)
      {
     .home_s
	{
		background-color: #FFFFEA;
	    font-family: 'Arvo', serif;
		max-width:100%; 
        height: 880px;
        max-height: 100%;
        margin: -10px 2px 5px 2px;
	}
	#home_p
	{
		max-width: 98%;
		background-color: #FFFFEA;
		height: 60.88%;
		margin: 1% 1% 1% 1%;
	}
	.p_save
	{ 
        max-width: 98%;
		height: 9.12%;
		margin: 0 1% 0 1%;

	}
	.p_change
	{
        max-width: 98%;
		height: 3%;
		margin: 1% 1% 1% 1%;
	}
    #p_image
	{
		width:48%;
		float: left;
		margin: 0;
		height: 88%;

	}
	#p_content
	{
		background-color: #FFFFEA;
		font-size: 1.45vw;
		color: black;
		width: 48%;
		float: right;
		margin: 0;
	    height: 88%;
	    
	}
	.listed_a
	{
		padding:3px 10px 0px 50px;
		letter-spacing:0.5px;
	    list-style-type:disc;
	}
	.listed_a li{
				list-style-type:disc;
		padding-bottom: 10px;
		opacity: 0;
	}
	li.a01 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 0.5s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 0.5s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 0.5s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
	padding-bottom: 7%;
}

li.a02 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 1s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 1s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 1s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 1s;
	padding-bottom: 7%;
}

li.a03 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 1.5s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 1.5s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 1.5s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 1.5s;
	padding-bottom: 7%;
}

li.a04 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 2s;
	-moz-animation: fade 0.5s ease-in-out forwards;
	-moz-animation-delay: 2s;
	-o-animation: fade 0.5s ease-in-out forwards;
	-o-animation-delay: 2s;
	animation: fade 0.5s ease-in-out forwards;
	animation-delay: 2s;
	padding-bottom: 7%;
}

li.a05 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 2.5s;
	-moz-animation: fade 0.5ss ease-in-out forwards;
	-moz-animation-delay: 2.5s;
	-o-animation: fade 0.5ss ease-in-out forwards;
	-o-animation-delay: 2.5s;
	animation: fade 0.5ss ease-in-out forwards;
	animation-delay: 2.5s;
	padding-bottom: 7%;
}
li.a06 {
	-webkit-animation: fade 0.5s ease-in-out forwards;
	-webkit-animation-delay: 3s;
	-moz-animation: fade 0.5ss ease-in-out forwards;
	-moz-animation-delay: 3s;
	-o-animation: fade 0.5ss ease-in-out forwards;
	-o-animation-delay: 3s;
	animation: fade 0.5ss ease-in-out forwards;
	animation-delay: 3s;
}

@-webkit-keyframes fade {
	100% { opacity: 1; }
}

@-moz-keyframes fade {
	100% { opacity: 1; }
}

@-o-keyframes fade {
	100% { opacity: 1; }
}

@keyframes fade {
	100% { opacity: 1; }
}

@-webkit-keyframes ifade {
	100% { opacity: 1;margin-left: 6%; }
}

@-moz-keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

@-o-keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

@keyframes ifade {
	100% { opacity: 1;margin-left: 6%;  }
}

.order-b{
	-webkit-animation: fade 0.5s ease-in-out forwards;
    -webkit-animation-delay: 3s;
    -moz-animation: fade 0.5s ease-in-out forwards;
    -moz-animation-delay: 3s;
    -o-animation: fade 0.5s ease-in-out forwards;
    -o-animation-delay: 3s;
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
    padding: 16px;
    outline: 0;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -1.0px;
    background-color: #fdfafa;
    color: #0e0e0e;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    text-align: center;
    margin-top: -2%;
    border: black 1.5px solid;

}
.order-b:hover{
	background-color: #5FAD56;
    color: white;
    letter-spacing: 0px;
    border: black 1.5px dashed; 
}
#c-butna{
    width:20px;
    height:20px;
    margin-right: 10px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnb{
	width:20px;
    height:20px;
    margin-right: 10px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnc{
	width:20px;
    height:20px;
    line-height:50px;
    margin-right: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnd{
	width:20px;
    height:20px;
    line-height:50px;
    margin-right: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butne{
	width:20px;
    height:20px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butna,#c-butnb,#c-butnc,#c-butnd,#c-butne{
	outline:0;
}
.imgp{
	-webkit-animation: ifade 2.5s ease-in-out forwards;
	-webkit-animation-delay: 0s;
	-moz-animation: ifade 2.5s ease-in-out forwards;
	-moz-animation-delay: 0s;
	-o-animation: ifade 2.5s ease-in-out forwards;
	-o-animation-delay: 0s;
	animation: ifade 2.5s ease-in-out forwards;
	animation-delay: 0s;
	opacity: 0;
	margin-top: 6%;
		height:500px;
		width: 500px;
		max-width: 100%;
		max-height: 100%;
}
.phead
{
	color:#00b33c;
	font-size: 2.95vw;
	letter-spacing:2px;
}
}