    @import url('https://fonts.googleapis.com/css?family=Arvo');
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
td{
  padding: 35px;
}
  @media screen and (min-width: 208px)
      {
        border-style: {
          margin:0;
          padding:0;
        }
     #home_s
  {
      font-family: 'Arvo', serif;
       background-size: cover;
       max-width: 100%;
       height: 280px;
       max-height: 100%;
       margin: -17px 0px 5px 0px;
    /*-webkit-transition: background-image 0.6s linear;
       transition: background-image 0.6s linear;*/
  }

  #ibout {
    display: table;
    margin: 0 auto;
    font-size: 2.1em;
    -webkit-animation: ifade 3s ease-in-out forwards;
    -webkit-animation-delay: 0.3s;
    -moz-animation: ifade 3s ease-in-out forwards;
    -moz-animation-delay: 0.3s;
    -o-animation: ifade 3s ease-in-out forwards;
    -o-animation-delay: 0.3s;
    animation: ifade 3s ease-in-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
      #chead
      { display:table;
       margin:0 auto;
       font-size: 4.6em;
       margin-top: 18px;
       padding-top: 100px;
      }
  b{
    color:green;
  }
  .p_change
  {
        max-width: 98%;
    height: 3%;
    margin: 8% 1% 1% 1%;
  }
  #p_content
  {
    font-size: 1.45vw;
    color: #f9f9f9;
     text-shadow: 0px 2px #151414;
    height: 80%;
    width: 100%;
    margin: 0;
      
  }
#c-butna{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnb{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnc{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butnd{
    width:10px;
    height:15px;
    margin-right: 5px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butne{
    width:10px;
    height:15px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 1.5px gray;
}
#c-butna,#c-butnb,#c-butnc,#c-butnd,#c-butne{
  outline:0;
}
.phead
{
  color:black;
  font-size: 3.95vw;
  letter-spacing:2px;
}
#wgs
{
  display:table;
  margin:0 auto;
  margin-top: 3px;
  font-size: 25px;
  }
  #quote{
      position: relative;
    top: 111px;
    /* width: 100%; */
    /* text-align: center; */
    font-size: 4vw;
    margin: 0% 0%;
    padding: 0% 0%;
  }
  #wogs
  {
      display:table;
      margin:0 auto;
      font-size: 10px;
  }
   #know{
    width: 57%;
    height: 38px;
    margin: 5% 21.5%;
}
#hidden,#hidden2,#hidden3,#hidden4{
  display: none;
  padding:3%;
}
#imgBox{
      float: left;
    height: 210px;
    width: 20%;
    padding-left: 0%;

}
#cont{
      padding-left: 31%;
    text-align: left;
}
#image{
  height: 250px;
    width: 100%;
}
#serHead{
      padding-right: 15%;
      text-decoration: underline;
      color:#2db300;
}
#back{
      float: right;
    position: relative;
    top: -13px;
}
/*#left{

    opacity: 0.2;
      float: left;
    position: relative;
    top: -273px;
    left: 1%;
}
#right{
  opacity: 0.2;
      float: right;
    position: relative;
    top: -273px;
    right: 1%;
}
#left:hover,#right:hover{

    opacity: 1;
}
#limg{
    height:50px;
    width:30px;
}
#rimg{
  height:50px;
    width:30px;

}*/
#abt{
    padding:2%;
    font-size:100%;
}
#tab{
  margin-left: 10%;
}
#serDetails{
  width:225px;
  height:30px;
  font-size:16px;
}


}
  
  @media screen and (min-width: 708px)
      {
     #home_s
  {
      font-family: 'Arvo', serif;
       background-size: cover; 
       max-width: 100%;
       height: 500px;
       max-height: 100%;
       margin: -17px 0px 5px 0px;
    /*-webkit-transition: background-image 0.6s linear;
       transition: background-image 0.6s linear;*/
  }
  .p_change
  {
        max-width: 98%;
    height: 3%;
    margin: 1% 1% 1% 1%;
  }
  #p_content
  {
    color: #f9f9f9;
    font-size: 1.85vw;
    text-shadow: 0px 2px #151414;
    height: 80%;
    width: 98%;
    float: right;
    margin: 1% 1% 1% 1%;
  }
#c-butna{
    width:20px;
    height:20px;
    margin-right: 10px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnb{
  width:20px;
    height:20px;
    margin-right: 10px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnc{
  width:20px;
    height:20px;
    line-height:50px;
    margin-right: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butnd{
  width:20px;
    height:20px;
    line-height:50px;
    margin-right: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butne{
  width:20px;
    height:20px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px gray;
}
#c-butna,#c-butnb,#c-butnc,#c-butnd,#c-butne{
  outline:0;
}
.phead
{
  color:black;
  font-size: 2.95vw;
  letter-spacing:2px;
}
#chead
{
display:table;
margin:0 auto;
font-size: 4.2vw;
margin-top: 25px;
}

#wgs
{
  display:table;
  margin:0 auto;
  font-size: 3.4vw;
  }
  #quote{

      position: relative;
    top: 165px;
    /* width: 100%; */
    /* text-align: center; */
    font-size: 4vw;
    margin: 0% 0%;
    padding: 0% 0%;
  }
  #per
  {
    padding-left: 8%;
    padding-right: 8%;
  }
  #wogs
  {
      display:table;
       margin:0 auto;
      font-size: 1.6vw;
  }
}


#hsun{
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
}
#hservices
{
  border: 1.5px dashed black;
  text-align: center;
  background-color: whitesmoke;
  margin: 2px;
}
#wros
{
  border: 1.5px dashed black;
  text-align: center;
  margin: 2px;
  padding-bottom: 40px;
  background-color: whitesmoke;
}
#wrosol
{
  border: 1.5px dashed black;
  text-align: center;
  margin: 2px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}
#mros
{
  border: 1.5px dashed black;
  text-align: center;
  background-color: whitesmoke;
  margin: 2px;
}
  #sera
{

    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 40px;
    background-color: rgba(243, 232, 59, 0.42);
    border-radius: 3px;
    margin: 1%;
    /*margin-right: 3%;*/
    vertical-align: top;
}
#sera:hover
{
    background-color: rgba(243, 232, 59, 0.55);
}
  #serb
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 40px;
  background-color: rgba(67, 197, 67, 0.58);
  border-radius: 3px;
  margin: 1%;
  vertical-align: top;
}
#serb:hover
{
  background-color: rgba(67, 197, 67, 0.71);
}
#serc
{
    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 40px;
    background-color: rgba(5, 121, 206, 0.61);
    border-radius: 3px;
    margin: 1%;
    /*margin-left: 3%;*/
    vertical-align: top;
}
#serc:hover
{
    background-color: rgba(5, 121, 206, 0.74);
}
#serd
{
    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 40px;
    background-color: rgba(249, 101, 101, 0.51);
    border-radius: 3px;
    margin: 1%;
    /*margin-right: 3%;*/
    vertical-align: top;
}
#serd:hover
{
    background-color: rgba(249, 101, 101, 0.64);
}
#sere
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 40px;
  background-color: rgba(55, 47, 150, 0.4);
  border-radius: 3px;
  margin: 1%;
  vertical-align: top;
}
#sere:hover
{
  background-color: rgba(55, 47, 150, 0.53);
}
#serf
{
    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 40px;
    background-color: rgba(243, 146, 59, 0.53);
    border-radius: 3px;
    margin: 1%;
    /*margin-left: 3%;*/
    vertical-align: top;
}
#serf:hover
{
    background-color: rgba(243, 146, 59, 0.66);
}
#sera1
{
    display: inline-block;
    max-width: 320px;
    text-align: left;
    padding: 1%;
    border-radius: 3px;
    margin: 10px;
    vertical-align: top;
}
#serb1
{
    display: inline-block;
    max-width: 320px;
    text-align: left;
    padding: 1%;
    border-radius: 3px;
    margin: 10px;
    vertical-align: top;
}
#serc1
{
    display: inline-block;
    max-width: 320px;
    text-align: left;
    padding: 1%;
    border-radius: 3px;
    margin: 10px;
    vertical-align: top;
}
#serd1
{
    display: inline-block;
    max-width: 320px;
    text-align: left;
    padding: 1%;
    border-radius: 3px;
    margin: 10px;
    vertical-align: top;
}
#mema
{
  display: inline-block;
  text-align: left;
  background-image:url(/img/team/varun.jpg);
  background-size:cover;
  padding: 30px;
  vertical-align: top;
}
#memb
{
  display: inline-block;
  text-align: left;
  background-image:url(/img/team/Lakhan2.jpeg);
  background-size:cover;
  padding: 30px;
  vertical-align: top;
}
#memc
{
  display: inline-block;
  text-align: left;
  background-image:url(/img/team/chirag.jpg);
  background-size:cover;
  padding: 30px;
  vertical-align: top;
}
#memd
{
  display: inline-block;
  text-align: left;
  padding: 30px;
 background-image:url(/img/team/arun.jpeg);
  background-size:cover;
  vertical-align: top;
}
  #sera,#serb,#serc,#serd,#sere,#serf
    {
        height: 320px;
        text-align: center;
      }
     #sera1,#serb1,#serc1,#serd1    {
        height: 420px;
      }
      #mema,#memb,#memc,#memd
      {
          margin-top: 5px;
          margin-left: 5px;
          margin-bottom: 5px;
          margin-right: 5px;
          background-color: whitesmoke;
          width: 200px;
          height: 200px;
        border-radius: 50%;
      }
.left-text
{
  font: 300 16px/1.6;
  color: #333;
}
@media screen and (max-width: 600px) 
{
  #sera,#serb,#serc,#serd,#sere,#serf,#mema,#memb,#memc,#memd,#sera1,#serb1,#serc1,#serd1
    {
       max-width: 300px;
    }
    #imgBox{
      width:90%;
    }
    #cont{
      padding-left: 0%;
    }
    #serHead{
      padding-top: 54%;
    }
    #image{
      width:70%;
    }
}
@media screen and (max-width: 488px) 
{
  #serHead{
    padding-top:60%;
  }
}
@media screen and (max-width: 428px) 
{
  #serHead{
    padding-top:70%;
  }
  #image{
      width:100%;
    }
  #tab{
    margin-left: 8%;
  }
}

.serimg
{
  width: 120px;
    margin-left: auto;
  margin-right: auto;
  display: block;
}
.memimg
{
  width: 150px;
}
#ibout
{
  display:table;
  margin:0 auto;
    color: #f6fbe9;
    font-size: 2.2vw;
    font-weight: bold;
    -webkit-animation: ifade 3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
  -moz-animation: ifade 3s ease-in-out forwards;
  -moz-animation-delay: 0.3s;
  -o-animation: ifade 3s ease-in-out forwards;
  -o-animation-delay: 0.3s;
  animation: ifade 3s ease-in-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
@media screen and (max-width: 500px){
  #ibout{
    font-size:2.7vw;
  }
}
@media screen and (max-width: 378px) 
{
  #serHead{
    padding-top:80%;
  }
  #ibout{
    font-size:3.2vw;
  }
  #sera,#serb,#serc,#serd,#sere,#serf{
    max-width: 99%;
  }
}

@-webkit-keyframes ifade {
  100% { opacity: 1; }
}

@-moz-keyframes ifade {
  100% { opacity: 1; }
}

@-o-keyframes ifade {
  100% { opacity: 1;}
}

@keyframes ifade {
  100% { opacity: 1; }
}

/* ----------------------------------- */
/*
@-webkit-keyframes iappear {
  25% { opacity: 1; }
   98% { opacity: 1; }
}
@-moz-keyframes iappeaar {
  25% { opacity: 1; }
  98% { opacity: 1; }
}

@-o-keyframes iappear {
  25% { opacity: 1;}  
   98% { opacity: 1; }
}


@keyframes iappear {
  25% { opacity: 1;}  
   98% { opacity: 1; }
}*/
/*--------------------------------

@-webkit-keyframes idisap {
  0%{opacity: 0;}
  20%{opacity: 1;}
  94% { opacity: 1;}
  100% { opacity: 0;}   
}
@-moz-keyframes idisap {
  0%{opacity: 0;}
  20%{opacity: 1;}
  94% { opacity: 1;} 
  100% { opacity: 0;}  
}

@-o-keyframes idisap {
  0%{opacity: 0;}
  20%{opacity: 1;}
  94% { opacity: 1;}  
  100% { opacity: 0;} 
}


@keyframes idisap {
  0%{opacity: 0;}
  20%{opacity: 1;}
  94% { opacity: 1;} 
  100% { opacity: 0;}   
}
*/

#whsolar
{
      list-style-type: none;
}
.order-b{
    padding: 18px;
    outline: 0;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -1.0px;
    background-color: #fdfafa;
    color: #0e0e0e;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    text-align: center;
    margin: 3%;
    border: black 1.5px solid;

}
.order-b:hover{
  background-color: #5FAD56;
    color: white;
    letter-spacing: 0px;
    border: black 1.5px dashed; 
}
#mailto2,#tele2{
  text-decoration: none;
  color:black;
}
@media screen and (max-width: 400px){
  td{
    padding:8px;
  }
}
@media screen and (max-width: 400px){
  td{
    padding:4px;
  }
}
#preload-01 { background: url('/img/a.jpg') no-repeat -9999px -9999px; }
#preload-02 { background: url('/img/b.jpg') no-repeat -9999px -9999px; }
#preload-03 { background: url('/img/c.jpg') no-repeat -9999px -9999px; }
#preload-04 { background: url('/img/d.jpg') no-repeat -9999px -9999px; }
#preload-05 { background: url('/img/e.jpg') no-repeat -9999px -9999px; }
#preload-06 { background: url('/img/f.jpg') no-repeat -9999px -9999px; }
