<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/SolarC">Solar Calculator</a></li>
          </ul>
        </div>
        <a href="{{ site.baseurl }}/home"><p>ROSOL Energy PVT LTD</p></a><l>&copy 2016<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script></l>
      </div>
    </div>
  </div>
</footer>
