<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Design &amp; Developed by <a href="https://ronork.github.io">ROSOL</a></p> <l>&copy 2016<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script></l>
      </div>
    </div>
  </div>
</footer>
