
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <style> 

</style>
<nav class="navbar custom-nav">
   <div id="call">
            <a id="tele" href="tel:18004196513">Call Us:18004196513</a>
    </div>
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <div id="logout">
     <div id="logo">
        <img src="/img/logo1.png" id="logoImage">
     </div>
            <a class="navbar-brand" href="{{ site.baseurl }}/home" style="font-size:200%; display: inline-block;font-weight: bold;">ROSO<span style="color:green">L</span>
              </a>
</div>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/about">About Us</a></li>
        <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solar Products<span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="{{ site.baseurl }}">Solar Modules</a></li>
      <li><a href="{{ site.baseurl }}">Solar inverter PCV</a></li>
      <li><a href="{{ site.baseurl }}">Solar Battery</a></li>
      <li><a href="{{ site.baseurl }}">Solar Air Conditioner</a></li>
      <li><a href="{{ site.baseurl }}">Solar Water Heater</a></li>
      <li><a href="{{ site.baseurl }}">Solar Fans</a></li>
      <li><a href="{{ site.baseurl }}">Solar Home Lightning System</a></li>
      <li><a href="{{ site.baseurl }}">Solar Lightning Products</a></li>
     </ul>
   </li>
           <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solar PV Systems<span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="{{ site.baseurl }}">Commercial</a></li>
      <li><a href="{{ site.baseurl }}">Residential</a></li>
      <li><a href="{{ site.baseurl }}">Non-Profit/NGO</a></li>
      <li><a href="{{ site.baseurl }}">Utilities</a></li>
     </ul>
   </li>
        <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="{{ site.baseurl }}/consult">Solar Consultation</a></li>
      <li><a href="{{ site.baseurl }}/project_service">Solar Project</a></li>
      <li><a href="{{ site.baseurl }}/design_engineering">Solar Engineering</a></li>
      <li><a href="{{ site.baseurl }}/installation_and_commissioning">Solar Installation and Comissioning</a></li>
      <li><a href="{{ site.baseurl }}/bos">Solar BOS Supply</a></li>
      <li><a href="{{ site.baseurl }}/partnership_service">Partnership Services</a></li>
     </ul>
    </li>
        <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
     <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Knowledge Centre<span class="caret"></span></a>
     <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/SolarC">Solar Calculator</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
      <li><a href="{{ site.baseurl }}/Downloads">Downloads</a></li>
     </ul>
    </li>
   </ul>
   
  </div>
 </div>
</nav>
<a href="{{ site.baseurl }}/SolarC">
<div id="calculatorbutton">
<center>
<div id="butt">
  <img src="{{ site.baseurl }}/img/calc.png" id="calcicon">
  </div>
  <div id="textid">
    <span id="caltext">Know your savings</span>
  </div>
  </center>
</div>
</a>


