
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <style> 

</style>
<nav class="navbar custom-nav">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/home" style="font-size:200%">ROSO<span style="color:green">L</span>
            </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-right">
    <li><a href="{{ site.baseurl }}/products">Products</a></li>
        <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="{{ site.baseurl }}/consult">Solar Consultation</a></li>
      <li><a href="{{ site.baseurl }}/project_service">Solar Project</a></li>
      <li><a href="{{ site.baseurl }}/design_engineering">Solar Engineering</a></li>
      <li><a href="{{ site.baseurl }}/installation_and_commissioning">Solar Installation and Comissioning</a></li>
      <li><a href="{{ site.baseurl }}/bos">Solar BOS Supply</a></li>
      <li><a href="{{ site.baseurl }}/partnership_service">Partnership Services</a></li>
     </ul>
    </li>
     <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Knowledge Centre<span class="caret"></span></a>
     <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/SolarC">Solar Calculator</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
      <li><a href="{{ site.baseurl }}/Downloads">Downloads</a></li>
     </ul>
    </li>

        <li><a href="{{ site.baseurl }}/about">About Us</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
   </ul>
   
  </div>
 </div>
</nav>


