<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/sliding.css" />
<script src="{{ site.baseurl }}/js/slider.js"></script>
</head>
<body>
	<section class="home_s">
		<div id="home_p">
        <div id="p_image">
        </div>
        <div id="p_content">
        	
        </div>
		</div>
		<div class="p_save">
        <center><button class="order-b">ORDER NOW</button></center>
		</div>
		<div class="p_change">
       <center><button id="c-butna" onclick="clicka()"></button><button id="c-butnb" onclick="clickb()"></button></center>
		</div>
	</section>
	</body>
</html>
